{% extends "base.html" %}
{% block title %}{{ article.title }} -- {{ site.name }}{% endblock %}
{% block meta_description %}{{ article.meta_description }}{% endblock %}
{% block content %}

<article class="wrap article-body">
  <header class="article-header">
    {% if article.category != 'page' %}
    <span class="tag tag-{{ article.category }}">{{ article.category }}</span>
    {% endif %}
    <h1>{{ article.title }}</h1>
  </header>

  <div class="prose">
    {{ article.html|safe }}
  </div>
</article>

{% endblock %}
