{% extends "base.html" %}
{% block title %}{{ category_label }} -- {{ site.name }}{% endblock %}
{% block meta_description %}{{ category_description }}{% endblock %}
{% block content %}

<section class="wrap page-header">
  <h1>{{ category_label }}</h1>
  <p class="lede">{{ category_description }}</p>
</section>

<section class="wrap article-list">
  <ul class="article-index">
    {% for a in articles %}
    <li>
      <a href="{{ a.url }}">
        <span class="article-title">{{ a.title }}</span>
      </a>
      <p class="article-desc">{{ a.meta_description }}</p>
    </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
